

header img {
  min-width: 150px;
}

header {
  background-image: url("./static/images/bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header h1 {
  font-size: 120px;
  font-weight: 700px;
  color: #FFFFFF;
}

.header p {
  color: #FFFFFF;

}

.testimonial {
  background-color: #C271FF;
  height: 392px;
}
