@import url("style.css");

/* font sizes */

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-22 {
  font-size: 22px;
}

.font-120 {
  font-size: 120px
}

.font-32 {
  font-size: 32px;
}

.font-44 {
  font-size: 44px;
}

.font-60 {
  font-size: 60px;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  width: 100vw;
}

header {
  background-image: url("../images/bg-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-self: center;
  height: 216px;
  width: 100vw;
}

.search {
  background-color: #C271FF;
}

.search ul {
  width: 350px;
}


.btn:hover, .btn:active {
  opacity: 0.9;
}

.search .dropdown-item:hover {
  color: #C271FF;
}

.search .input-group, .search .btn-secondary, .search .dropdown-toggle {
  width: 350px;
  background-color: white;
  opacity: 0.25;
  color: black;
  border-color: white;
}

#videos-section {
  padding: 50px 0;
}

.card {
  border: none;
  box-shadow: none;
}

footer {
  background-color: #071629;
  width: 100vw;
}
