@import url("./style.css");

/* font sizes */

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-22 {
  font-size: 22px;
}

.font-120 {
  font-size: 120px
}

.font-32 {
  font-size: 32px;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  width: 100vw;
}
header img {
  max-height: 1440px;
  align-self: center;
}

header {
  background-image: url("../images/bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header h1 {
  font-size: 120px;
  font-weight: 700px;
  color: #FFFFFF;
}

.header p {
  color: #FFFFFF;
}

.pros span {
  color: #C271FF;
}

.banner .btn {
  background-color: #C271FF;
}
.testimonial {
  background-color: #C271FF;
  height: 392px;
}

.popular-tutorials .card .card-img.top {
  width: 255px;
}

.popular-tutorials span {
  color: #C271FF;
}
.popular-tutorials .card .play-button {
  width: 64px;
}

.membership {
  background-color: #071629;
  height: 502px;
}

.btn:hover, .btn:active {
  opacity: 0.9;
}

.card {
  border: none;
  box-shadow: none;
}
.latest-videos .card .card-img.top {
  width: 255px;
}

.latest-videos span{
  color: #C271FF;
}
.latest-videos .card .play-button {
  width: 64px;
}

footer {
  background-color: #071629;
  width: 100vw;
}
